services:
  app:
    build: .
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./data:/usr/share/nginx/html/data
      - ./extras:/usr/share/nginx/html/extras
      - ./styles:/usr/share/nginx/html/styles