body {
	margin: 2em;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color:#000000; 

	background-color: #EEEEEE;
}

a:not(.btn) { color:#000000; text-decoration:underline;}
a:not(.btn):link { color:#000000; } 
a:not(.btn):visited { color:#404040; }
a:not(.btn):active { color:#FF0000; }
a:not(.btn):hover { color:#FF0000; text-decoration:none; }

#sectionDescription > div:first-of-type {
    padding: 5% 2%;
    text-overflow: clip;
    overflow: auto;
    margin-top: 1.0em;
    max-height: 60vh;
}

/* BOOTSTRAP */
.row {
	padding: 0.2em; 
}

/* Gestreifte Spalten in den Ergebnis-Listen
	Striped rows in results */
.mow-row-striped:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

/*	FadeIn + FadeOut */

@keyframes myFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes myFadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
